<div class="row">
    <div class="col-xs-7 col-md-1">
      <%= image_tag @user.gravatar_url, alt: "avatar" %>
    </div>
    <div class="col-xs-7 col-md-7">
      <div class="page-header text-capitalize">
        <h1><%= @user.full_name %></h1>
      </div>
    </div>
</div>

<% if @statuses.any? %>
<% @statuses.each do |status| %>
<div class="well">
  <%= render 'profiles/status' , :status => status %>
</div>
<% end %>
    <% else %>
    <div class="well">
      <h5>Doesnt have any post to show....</h5>
    </div>

<% end %>