<div class="navbar navbar-default navbar-bottom", style="margin-top: 100px">
  <div class="container-fluid">
    <div class="navbar-text pull-left">
      <small>
        <a href="#">Yoo Molvi</a>
        is a fun app by <a href="#">Abdullah Tariq</a>
      </small>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
  </div>
</div>